<div class="add-button">
  <button
    type="button"
    mat-flat-button
    color="primary"
    (click)="addFn()"
    *ngIf="enableAddButtonAdd"
  >
    {{ ctaLabel || 'Adicionar' }}
  </button>
</div>
<div class="filter-container">
  <mat-form-field class="search" appearance="fill">
    <div class="input-icon">
      <mat-icon>search</mat-icon>
      <input
        matInput
        (input)="applyFilter($event)"
        placeholder="Digite para pesquisar"
      />
    </div>
  </mat-form-field>
  <mat-paginator
    *ngIf="enablePagination"
    color="primary"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [length]="dataSourceMat.data.length"
    showFirstLastButtons
  ></mat-paginator>
</div>

<div class="mat-table-responsive">
  <table
    mat-table
    [dataSource]="dataSourceMat"
    matSort
    class="mat-elevation-z1"
  >
    <ng-container
      *ngFor="let column of columnDefinitions"
      [matColumnDef]="column.key"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-bold"
      >
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let fields">
        <ng-container [ngSwitch]="column.type">
          <ng-container *ngSwitchCase="'date'">
            {{ fields | formatValues: column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'string'">
            {{ fields | formatValues: column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'cpf'">
            {{ fields | formatValues: column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'cnpj'">
            {{ fields | formatValues: column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'datetime'">
            {{ fields | formatValues: column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'phone'">
            {{ fields | formatValues: column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'sex'">
            {{ fields | formatValues: column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            {{ fields | formatValues: column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'boolean'">
            <span [ngClass]="fields[column.key] ? 'active' : 'inactive'">
              {{ fields[column.key] ? 'Ativado' : 'Desativado' }}
            </span>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ fields[column.key] }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let fields" class="actions-cell">
        <div class="actions-container">
          <button
            type="button"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            matTooltip="Ações"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- Itera sobre as ações definidas dinamicamente -->
            <ng-container *ngFor="let action of actions">
              <ng-container [ngSwitch]="action.type">
                <!-- Botão Toggle (Ativar/Desativar) -->
                <ng-container *ngSwitchCase="'toggle'">
                  <div class="toggle">
                    <button
                      mat-flat-button
                      type="button"
                      [matTooltip]="action.tooltip ?? ''"
                      [color]="fields.status ? 'warn' : 'primary'"
                      (click)="action.action(fields)"
                    >
                      {{
                        fields.status
                          ? action.inactiveLabel
                          : action.activeLabel
                      }}
                    </button>
                  </div>
                  <mat-divider></mat-divider>
                </ng-container>

                <!-- Botão Editar -->
                <ng-container *ngSwitchCase="'edit'">
                  <button
                    type="button"
                    mat-menu-item
                    matTooltip="{{ action.tooltip }}"
                    (click)="action.action(fields)"
                  >
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">{{
                      action.label
                    }}</span>
                  </button>
                </ng-container>

                <!-- Botão Excluir -->
                <ng-container *ngSwitchCase="'delete'">
                  <button
                    type="button"
                    mat-menu-item
                    color="warn"
                    matTooltip="{{ action.tooltip }}"
                    (click)="action.action(fields)"
                  >
                    <mat-icon *ngIf="action.icon" color="warn">{{
                      action.icon
                    }}</mat-icon>
                    <span
                      *ngIf="action.label"
                      class="label-button-menu delete"
                      >{{ action.label }}</span
                    >
                  </button>
                </ng-container>

                <!-- Botão historico -->
                <ng-container *ngSwitchCase="'history'">
                  <button
                    type="button"
                    mat-menu-item
                    matTooltip="{{ action.tooltip }}"
                    (click)="action.action(fields)"
                  >
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">{{
                      action.label
                    }}</span>
                  </button>
                </ng-container>

                <!-- Botão permissões -->
                <ng-container *ngSwitchCase="'security'">
                  <button
                    type="button"
                    mat-menu-item
                    matTooltip="{{ action.tooltip }}"
                    (click)="action.action(fields)"
                  >
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">{{
                      action.label
                    }}</span>
                  </button>
                </ng-container>

                <!-- Botão person -->
                <ng-container *ngSwitchCase="'person'">
                  <button
                    type="button"
                    mat-menu-item
                    matTooltip="{{ action.tooltip }}"
                    (click)="action.action(fields)"
                  >
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">{{
                      action.label
                    }}</span>
                  </button>
                </ng-container>
              </ng-container>
            </ng-container>
          </mat-menu>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="rows"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
