@if (enableAddButton) {
  <div class="add-button">
    <button mat-flat-button color="primary" (click)="addFn()">
      {{ ctaLabel || 'Adicionar' }}
    </button>
  </div>
}
<div class="filter-container">
  <div class="filter-container-content">
    <div class="search-container">
      <mat-form-field appearance="fill" class="search">
        <div class="search-icon-input">
          <mat-icon>search</mat-icon>
          <input (input)="applyFilter($event)" matInput placeholder="Digite para pesquisar" />
        </div>
      </mat-form-field>
      <button (click)="toggleFilter()" aria-label="Botão de filtro" mat-icon-button matTooltip="Filtro" type="button">
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
    <mat-paginator
      [length]="length"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      class="paginator"
      color="primary"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  @if (enableFilterAdvanced && showFilter) {
    <app-filter-button-advanced
      [fields]="filterFields"
      [applyFilter]="applyFilterFn"
      (filterChange)="applyAdvancedFilter($event)"
    ></app-filter-button-advanced>
  }
</div>

<div class="mat-table-responsive">
  <table [dataSource]="dataSourceMat" class="mat-elevation-z1" mat-table matSort>
    <ng-container *ngFor="let column of columnDefinitions" [matColumnDef]="column.key">
      <th *matHeaderCellDef class="mat-header-bold" mat-header-cell mat-sort-header>
        {{ column.header }}
      </th>
      <td *matCellDef="let fields" [title]="fields | formatValues : column.key : column.type" mat-cell>
        <ng-container [ngSwitch]="column.type">
          <ng-container *ngSwitchCase="'date'">
            {{ fields | formatValues : column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'string'">
            {{ fields | formatValues : column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'cpf'">
            {{ fields | formatValues : column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'cnpj'">
            {{ fields | formatValues : column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'datetime'">
            {{ fields | formatValues : column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'phone'">
            {{ fields | formatValues : column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'sex'">
            {{ fields | formatValues : column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            {{ fields | formatValues : column.key : column.type }}
          </ng-container>
          <ng-container *ngSwitchCase="'boolean'">
            <span [ngClass]="fields[column.key] ? 'active' : 'inactive'">
              {{ fields[column.key] ? 'Ativado' : 'Desativado' }}
            </span>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ fields[column.key] }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let fields" class="actions-cell" mat-cell>
        <div class="actions-container">
          <button [matMenuTriggerFor]="menu" mat-icon-button matTooltip="Ações" type="button">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let action of actions">
              <ng-container [ngSwitch]="action.type">
                <!-- Botão Toggle (Ativar/Desativar) -->
                <ng-container *ngSwitchCase="'toggle'">
                  <div class="toggle">
                    <button
                      (click)="action.action(fields)"
                      [color]="fields.status ? 'warn' : 'primary'"
                      [matTooltip]="action.tooltip ?? ''"
                      mat-flat-button
                      type="button"
                    >
                      {{ fields.status ? action.inactiveLabel : action.activeLabel }}
                    </button>
                  </div>
                  <mat-divider></mat-divider>
                </ng-container>

                <!-- Botão Editar -->
                <ng-container *ngSwitchCase="'edit'">
                  <button (click)="action.action(fields)" mat-menu-item matTooltip="{{ action.tooltip }}" type="button">
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">
                      {{ action.label }}
                    </span>
                  </button>
                </ng-container>

                <!-- Botão Excluir -->
                <ng-container *ngSwitchCase="'delete'">
                  <button
                    (click)="action.action(fields)"
                    color="warn"
                    mat-menu-item
                    matTooltip="{{ action.tooltip }}"
                    type="button"
                  >
                    <mat-icon *ngIf="action.icon" color="warn">
                      {{ action.icon }}
                    </mat-icon>
                    <span *ngIf="action.label" class="label-button-menu delete">
                      {{ action.label }}
                    </span>
                  </button>
                </ng-container>

                <!-- Botão historico -->
                <ng-container *ngSwitchCase="'history'">
                  <button (click)="action.action(fields)" mat-menu-item matTooltip="{{ action.tooltip }}" type="button">
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">
                      {{ action.label }}
                    </span>
                  </button>
                </ng-container>

                <!-- Botão permissões -->
                <ng-container *ngSwitchCase="'security'">
                  <button (click)="action.action(fields)" mat-menu-item matTooltip="{{ action.tooltip }}" type="button">
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">
                      {{ action.label }}
                    </span>
                  </button>
                </ng-container>

                <!-- Botão person -->
                <ng-container *ngSwitchCase="'person'">
                  <button (click)="action.action(fields)" mat-menu-item matTooltip="{{ action.tooltip }}" type="button">
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">
                      {{ action.label }}
                    </span>
                  </button>
                </ng-container>

                <!-- Botão restaurar -->
                <ng-container *ngSwitchCase="'restore'">
                  <button (click)="action.action(fields)" mat-menu-item matTooltip="{{ action.tooltip }}" type="button">
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">
                      {{ action.label }}
                    </span>
                  </button>
                </ng-container>

                <!-- Botão fazer backup -->
                <ng-container *ngSwitchCase="'backup'">
                  <button (click)="action.action(fields)" mat-menu-item matTooltip="{{ action.tooltip }}" type="button">
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">
                      {{ action.label }}
                    </span>
                  </button>
                </ng-container>

                <!-- Botão fazer visualizar -->
                <ng-container *ngSwitchCase="'view'">
                  <button (click)="action.action(fields)" mat-menu-item matTooltip="{{ action.tooltip }}" type="button">
                    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
                    <span *ngIf="action.label" class="label-button-menu">
                      {{ action.label }}
                    </span>
                  </button>
                </ng-container>
              </ng-container>
            </ng-container>
          </mat-menu>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" class="rows" mat-row></tr>
  </table>
</div>
