<form
  [formGroup]="userForm"
  (ngSubmit)="handleSubmit()"
  class="form-field-group"
>
  <div class="align-toggle">
    <app-column>
      <mat-slide-toggle formControlName="status" color="primary">{{
        userForm.get('status')?.value ? 'Ativado' : 'Desativado'
      }}</mat-slide-toggle>
    </app-column>
    <app-column>
      <mat-slide-toggle formControlName="change_password" color="primary"
        >Alterar senha no próximo login?</mat-slide-toggle
      >
    </app-column>
  </div>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" maxlength="255" />
      <mat-error
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
        >{{ getErrorMessage('name') }}</mat-error
      >
    </mat-form-field>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput formControlName="email" maxlength="255" />
      <mat-error
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
      >
        {{ getErrorMessage('email') }}
      </mat-error>
    </mat-form-field>
  </app-column>

  <app-column>
    <mat-form-field
      appearance="fill"
      *ngIf="!isEdit || (isEdit && change_password)"
    >
      <mat-label>Senha</mat-label>
      <input
        type="password"
        [type]="hide ? 'password' : 'text'"
        matInput
        formControlName="password"
        maxlength="30"
        minlength="8"
      />
      <button mat-icon-button matSuffix type="button" (click)="toggleHide()">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          userForm.get('password')?.invalid && userForm.get('password')?.touched
        "
        >{{ getErrorMessage('password') }}</mat-error
      >
    </mat-form-field>

    <div *ngIf="isEdit && !change_password" class="align-btn-input-password">
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="changePassword()"
      >
        Alterar Senha
      </button>
    </div>
  </app-column>

  <mat-divider></mat-divider>
  <app-actions>
    <div class="button-group">
      <button
        type="button"
        mat-stroked-button
        color="warn"
        (click)="handleBack()"
      >
        Cancelar
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="userForm.invalid"
      >
        {{ isEdit ? 'Atualizar' : 'Cadastrar' }}
      </button>
    </div>
  </app-actions>
</form>
