<div class="wrapper">
  <div class="header">
    <span class="title">{{ data.title }}</span>
  </div>

  <mat-divider></mat-divider>

  <!-- Content -->
  <div class="content">
    <p class="message">{{ data.message }}</p>
  </div>

  <!-- Divider -->
  <mat-divider></mat-divider>

  <!-- Actions -->
  <app-actions>
    <button mat-stroked-button color="warn" [mat-dialog-close]="false">
      {{ data.btnCancelText }}
    </button>
    <button mat-flat-button color="primary" [mat-dialog-close]="true">
      {{ data.btnOkText }}
    </button>
  </app-actions>
</div>
