<mat-card appearance="outlined">
  <div class="flex justify-between items-center mx-2 my-3">
    <mat-card-header class="mb-3">
      <mat-card-title class="text-xl font-bold">{{ data.title }}</mat-card-title>
    </mat-card-header>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="my-10">
    <p class="text-base text-gray-700">{{ data.message }}</p>
  </mat-card-content>
  <mat-card-footer class="flex flex-col md:w-full gap-4 my-5 justify-between">
    <mat-card-actions class="flex flex-row md:w-full gap-4 justify-between">
      <button mat-stroked-button type="button" class="w-full md:w-full order-2 md:order-none" color="warn"
        [mat-dialog-close]="false">
        {{ data.btnCancelText }}
      </button>
      <button mat-flat-button class="w-full md:w-full order-1" color="primary" [mat-dialog-close]="true">
        {{ data.btnOkText }}
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
