@use '../../styles/theme.scss'as theme;

::ng-deep .cdk-overlay-container {
  backdrop-filter: blur(0.2rem);
  background: rgba(0, 0, 0, 0.32);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-shrink: 1;
  background-color: #eaeaea;
  width: 100%;

  &>.title {
    padding: 0.6rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
  }
}

.content {
  flex-grow: 1;
  padding: 1.2rem;
  overflow-y: auto;

  &>.message {
    padding: 0.6rem;
    font-size: 1rem;
  }
}
