<div class="container">
  <mat-card class="card" appearance="outlined">
    <h2 class="title font-bold text-center text-4xl md:text-2xl mb-4 md:mb-2">
      Acessar o sistema
    </h2>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="form-field-group"
    >
      <app-column>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Ex. jhondoe@gmail.com"
            required
          />
          <mat-error
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
            >{{ emailMessage }}</mat-error
          >
        </mat-form-field>
      </app-column>

      <app-column>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            formControlName="password"
            maxlength="30"
            minlength="8"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleHide()"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            >{{ passwordMessage }}</mat-error
          >
        </mat-form-field>
      </app-column>

      <app-actions>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Entrar
        </button>
      </app-actions>
    </form>
  </mat-card>
</div>
