<div class="mat-dialog-container" [ngClass]="{ 'fullscreen': isFullscreen }">
  <div class="flex flex-col w-full h-full">
    <!-- HEADER -->
    <div class="header flex justify-between flex-shrink-0 items-center p-2" *ngIf="data.title && data.isHandleClose">
      <span class="px-4 text-lg font-semibold">{{ data.title }}</span>
      <div class="flex flex-row">
        <!-- Botão de Tela Cheia -->
        <button mat-icon-button type="button" (click)="toggleFullscreen()" *ngIf="data.enableFullscreen">
          <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
        <!-- Botão de Fechar -->
        <button mat-icon-button type="button" (click)="closeModal()" *ngIf="data.isHandleClose">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Conteúdo -->
    <div class="content flex-grow overflow-auto">
      <ng-container *ngIf="data.customContent">
        <ng-container *ngComponentOutlet="data.customContent"></ng-container>
      </ng-container>
    </div>
  </div>
</div>
