<div>
  <div class="p-10 center">
    <h1 class="bold">Não há registros de ainda!</h1>
    <p class="p-small">
      Parece que ainda não foi adicionado nenhum registro à sua lista.
    </p>
    <p class="p-small">
      Clique no botão abaixo para adicionar o primeiro registro e começar a
      gerenciar suas informações.
    </p>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="!!addRegisterFn && addRegisterFn()"
      class="mt-3"
    >
      {{ ctaLabel }}
    </button>
  </div>
</div>
