<div class="wrapper">
  <div class="p-10 center">
    <h1 class="bold">Não há registros de ainda!</h1>
    <p class="subtitle">
      Parece que ainda não foi adicionado nenhum registro à sua lista.
    </p>
    <p class="subtitle">
      Clique no botão abaixo para adicionar o primeiro registro e começar a
      gerenciar suas informações.
    </p>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="addRegisterFn()"
      class="mt-3"
    >
      {{ ctaLabel }}
    </button>
  </div>
</div>
