@use '../../styles/theme-colors'as theme;

.navbar {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15);
  padding: 0;
  max-width: 100dvw;
}

.container-section {
  flex: 1 1 0%;
  box-sizing: border-box;
  place-content: center flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin-left: 1rem;
}

.user-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin-left: auto;
}

.button-text {
  display: inline-flex;
  vertical-align: middle;
  color: theme.$text_color;
  font-weight: normal;
}

.button-size {
  width: 10rem;
}

.spacing-components {
  margin: 0 1rem;
}

.button-icon {
  display: inline-flex;
  vertical-align: middle;
  color: theme.$green_main;
}

.logout {
  color: theme.$red_main
}
