@use '../../styles/theme-colors'as theme;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  background-color: theme.$white;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15);
  max-width: 100dvw;
}

.container-section {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin-left: auto;
}

.button-text {
  display: inline-flex;
  vertical-align: middle;
  color: theme.$text_color;
  font-weight: normal;
}

.button-size {
  width: 10rem;
}

.spacing-components {
  margin: 0 1rem;
}

.button-icon {
  display: inline-flex;
  vertical-align: middle;
  color: theme.$green_main;
}

.logout {
  color: theme.$red_main
}
