.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}
