@use '../../styles/theme.scss'as theme;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
}

.container .ant-empty-img-1 {
  fill: #aeb8c2;
}

.container .ant-empty-img-2 {
  fill: #f5f5f7;
}

.container .ant-empty-img-3 {
  fill: #dce0e6;
}

.container .ant-empty-img-4 {
  fill: #fff;
}

.container .ant-empty-img-5 {
  fill-opacity: 0.8;
  fill: #f5f5f5;
}

.container .ant-empty-description {
  color: theme.$textColor;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
